.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 6rem;
  background-color: var(--color-el);
  box-shadow: var(--style-box-shadow-light);

  @media screen and (max-width: 500px) {
    padding: 2rem 2rem;
  }

  &__title {
    font-weight: 800;
    font-size: 2.5rem;
  }

  &__toggle-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  &__icon {
  }

  &__toggle-text {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
