main {
  padding: 3rem 6rem;
  @media screen and (max-width: 420px) {
    padding: 2rem 2rem;
  }
}

nav {
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  @media screen and (max-width: 500px) {
    padding: 2rem 2rem;
    justify-content: center;
  }
}
